/Ballastagram.Commom/bin
/Ballastagram.Commom/obj
/Ballastagram.Post.API/obj
/Ballastagram.Post.API/bin
/Ballastagram.Post.Infrastructure/obj
/Ballastagram.Post.Infrastructure/bin
/Ballastagram.Post.Models/bin
/Ballastagram.Post.Models/obj
/Ballastagram.User.Api/bin
/Ballastagram.User.Api/obj
/Ballastagram.User.Infrasctructure/bin
/Ballastagram.User.Infrasctructure/obj
/Ballastagram.User.Models/obj
/Ballastagram.User.Models/bin
